<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/logfile.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{dd.MM.yy HH:mm:ss} %-5p %c %m%n"/>
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="ctor()"/>
        <acceptOnMatch value="false"/>
      </filter>
    </appender>

  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />

    <bindings>
      <basicHttpBinding>
        <binding name="myBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="returnFaults" name="dnughh.SilverlightErfahrungen.Services.UserGroupEventService">
        <endpoint binding="basicHttpBinding"  bindingConfiguration="myBinding" contract="dnughh.SilverlightErfahrungen.Contract.IUserGroupEventService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>

      <serviceBehaviors>
        <behavior name="returnFaults">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        
        <behavior name="DanielVaughan.Logging.ClogServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>

      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
